@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
  --color-brand-primary: #480048;
  --color-brand-tertiary: #a15a9e;
  --color-action-primary: #fab950;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-medium: #333333;
  --color-neutral-darkest: #0f0f0f;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-neutral-darkest);
  font-family: "Poppins", sans-serif;
  color: var(--color-neutral-lightest);
}

.robot {
  margin-left: 7%;
}

.robot h1 {
  text-align: center;
  margin-top: -2%;
}

.robot p {
  text-align: center;
  font-weight: 400;
}

#options {
  display: none;
}

.control {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
  margin-top: 1%;
  margin-left: 5%;
}

ul {
  margin-top: 0;
  padding: 0;
}

p {
  font-weight: 700;
}

canvas {
  width: 600px;
  height: 400px;
}
